#julia project
**/src/Manifest.toml 
**/src/Project.toml
.julenv

#simulations/
simulations/simulations_T_*
simulations/rfim_details.txt
simulations/*.csv

#graphs/ 
graphs/psd/simulations/simulations_T_*
graphs/simulations/simulations_T_*
graphs/eigspectra/*

#vscode settings
.vscode
.env